@font-face {
  font-family: "Inter";
  src: url("Inter-VariableFont_slnt\,wght.ttf");
  font-display: block;
}
@font-face {
  font-family: "Holtwood One SC";
  src: url("HoltwoodOneSC-Regular.ttf");
  font-display: block;
}
html,
body,
div,
canvas {
  margin: 0;
  padding: 0;
  background-color: #f1e5d9;
}
html {
  font-family: "Holtwood One SC";
}
canvas {
  font-family: "Inter", "Holtwood One SC";
  font-size: 16px;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  image-rendering: optimizeSpeed; /* Older versions of FF          */
  image-rendering: -moz-crisp-edges; /* FF 6.0+                       */
  image-rendering: -webkit-optimize-contrast; /* Safari                        */
  image-rendering: -o-crisp-edges; /* OS X & Windows Opera (12.02+) */
  image-rendering: pixelated; /* Awesome future-browsers       */
  -ms-interpolation-mode: nearest-neighbor; /* IE                            */
}
